//  https://css-tricks.com/transitions-only-after-page-load/ for delaying transitions after page load

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


* {
    font-family: 'Passion One', cursive;
        font-size: 1.1em;
}

a, button {
    min-width: 48px;
    min-height: 48px;
}

img, embed, object, video {
    width: 100%;
}


#login {
    margin-left: 10px;
    font-size: 1.1em;
}

