//  https://css-tricks.com/transitions-only-after-page-load/ for delaying transitions after page load

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;

}

body {
    background-color: black;
}

#banner {
    width: 100%;
    height: 80px;
    background-color: firebrick;
    position: absolute;
}
* {
    z-index: 1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1em;
    color: white;
}



ul {
    list-style-image:url(galemp_list_style.png.png.png);
}

a {
    color: chartreuse;
}



a:hover {
    color: crimson;
}
a, button {
    min-width: 48px;
    min-height: 48px;
}

img, embed, object, video {
    width: 100%;

}

img {
    z-index: 0;
}

#ds-icon {
    margin-top: 5px;
    width: 48px;
    float: left;
}


#login {
    margin: 17px 0 0 25px;
    font-size: 1.1em;
}

#background-vid {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-home-title {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin:0;
    padding: 0;
    display: inline;
    z-index: 2;
    position: absolute;
    left: 42px;
    margin-top: 10px;
}

#main {
    background-color: rgba(0,0,0,0.8);
    padding-top: 75px;
}

option {
    color: black;
}

#delete-confirm {
    background-color: white;
    border-radius: 10px;
}

#delete-confirm p, h3 {
    color: black;
}

button a {
    color: white;
}

button a:hover {
    color: white;
    text-decoration: none;
}

.flash {
    text-align: center;
    font-size: 1.2em;
    color: chartreuse;
}

.error {
    color: red;
    font-size: 1.2em;
    text-align: center;
}


/* Spinner transforms:  http://www.the-art-of-web.com/css/3d-transforms/ */

#empire_logo_inner {
    width: 50px;
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#empire_logo_inner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#empire_logo_outer {
    margin: 1em auto;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
}

  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }




@media screen and (max-width: 767px){
    #menu-home-title {
        left: 10px;
    }

    #login {
        margin: 2px 0 0 25px;
    }


}

@media screen and (max-width: 1080px ){
    #background-vid {
        display: none;
    }
    .container {
        padding-bottom: 0;
        padding-top: 0;
    }

}

@media screen and (min-width: 768px){
    #-items {
        display: block;
        max-height: 550px;
        overflow: auto;
    }

}
