//  https://css-tricks.com/transitions-only-after-page-load/ for delaying transitions after page load

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;

}


body {
    background-color: black;
}
* {
    z-index: 1;
    font-family: 'Passion One', cursive;
    font-size: 1.1em;
    color: white;
}


ul {
    list-style-image:url(galemp_list_style.png.png.png);
}

a {
    color: chartreuse;
}

a:hover {
    color: crimson;
}
a, button {
    min-width: 48px;
    min-height: 48px;
}

img, embed, object, video {
    width: 100%;
}

#ds-icon {
    margin-top: 5px;
    width: 48px;
    float: left;
}


#login {
    margin: 17px 0 0 25px;
    font-size: 1.1em;
}

#background-vid {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-home-title {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin:0;
    padding: 0;
    display: inline;
    z-index: 2;
    position: absolute;
    left: 42px;
    margin-top: 10px;
}

.container {
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 130px;
    padding-top: 140px;
    }

@media screen and (max-width: 767px){
    #menu-home-title {
        left: 10px;
    }

    #login {
        margin: 2px 0 0 25px;
    }
}

@media screen and (max-width: 1080px ){
    #background-vid {
        display: none;
    }
    .container {
        padding-bottom: 0;
        padding-top: 0;
    }

}

