{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Categories</h2>
            <ul id="-categories">
            {% for category in categories %}
                <li><a href="{{ url_for('catalog', category=category.name) }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <table id="-items" class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            {% if category %}
                                <h2>{{ category.name }} Items ({{ items|length }})</h2>
                            {% else %}
                                <h2>Latest Items</h2>
                            {% endif %}
                        </th>
                        <th>
                            {% if category %}
                                <button class="pull-right btn btn-success" data-category="{{ category.name }}" id="-addItem">Add Item</button>
                            {% else %}
                                <button class="pull-right btn btn-success" id="-addItem">Add Item</button>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody >
                {% for item in items %}
                    <tr>
                        <td>
                            <a href="{{ url_for('showItem', category=item.category.name, item=item.name) }}">{{ item.name }}</a>
                        </td>
                        <td>
                        {% if not category %}
                            <em>({{ item.category.name|title }})</em>
                        {% else %}
                            <input type="button" class="-updateItem btn btn-primary" data-category="{{ item.category.name }}" data-item="{{ item.name }}" value="Edit">
                            <input type="button" class="-deleteItem btn btn-danger" data-category="{{ item.category.name }}" data-item="{{ item.name }}" value="Delete">

                        {% endif %}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#-addItem").click(function(){
        if ($(this).data("category")){
            var categoryName = $(this).data("category");
            window.location="/catalog/" + categoryName + "/additem";
        }
        else
            window.location="/catalog/additem";
    });

    $(".-updateItem").click(function(){
        var itemName = $(this).data("item");
        var categoryName = $(this).data("category");
        var url = "/catalog/category/" + categoryName + "/" + itemName +  "/update";
        window.location=url;
    });

    $(".-deleteItem").click(function(){
        var itemName = $(this).data("item");
        var categoryName = $(this).data("category");
        var url = "/catalog/category/" + categoryName + "/" + itemName +  "/delete";
        var form = $("<form />", {
            "method": "POST",
            "action": url,
        });
        form.submit();
    });

</script>
{% endblock %}
