{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Categories</h2>
            <ul id="-categories">
            {% for category in categories %}
                <li><a href="{{ url_for('catalog', category=category.name) }}">{{ category.name }} ({{ category.items|length }})</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <table id="-items" class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            {% if category %}
                                <h2>{{ category.name }} Items</h2>
                            {% else %}
                                <h2>Latest Items</h2>
                            {% endif %}
                        </th>
                        <th>
                            {% if category %}
                                <button class="pull-right btn btn-success" data-category="{{ category.name }}" id="-addItem">Add Item</button>
                            {% else %}
                                <button class="pull-right btn btn-success" id="-addItem">Add Item</button>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody >
                {% for item in items %}
                    <tr>
                        <td>
                            <a href="{{ url_for('showItem', category_name=item.category.name, item_name=item.name) }}">{{ item.name }}</a>
                        </td>
                        <td>
                        {% if not category %}
                            <em>({{ item.category.name|title }})</em>
                        {% endif %}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#-addItem").click(function(){
        if ($(this).data("category")){
            var categoryName = $(this).data("category");
            window.location="/catalog/" + categoryName + "/additem";
        }
        else
            window.location="/catalog/additem";
    });



</script>
{% endblock %}
