{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 id="item-name">{{ item.name }}</h1>
            <div>
                <button id="edit-button" data-url="{{ url_for('updateItem',category_name=item.category.name, item_name=item.name)}}" class="btn btn-primary">Edit</button>
                <button id="delete-button" class="btn btn-danger">Delete</button>
            </div>
            <br>
            <article>
                {{ item.description }}
            </article>
            <br>
        </div>

        <div  class="col-md-6">
            {% if item.image %}
                <img class="img-rounded img-responsive" src="{{ url_for('uploaded_file', category_id=item.category.id, item_id=item.id, filename=item.image) }}">
            {% else %}
                <img class="img-responsive" src="{{ url_for('static', filename='img/no-image-available-hi.png') }}">
            {% endif %}


        </div>

    </div>
</div>

<div  id="delete-confirm" class="container hide">

    <form  action="{{ url_for('deleteItem', category_name=item.category.name, item_name=item.name)}}" method="POST">
            <input name="_csrf_token" value="{{ csrf_token() }}" type="hidden">
            <h3>Delete {{ item.name }}</h3>
            <p>Are you sure you want to delete?</p>

        <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Confirm">
            <input class="btn btn-primary" type="button" id="close-popup" value="Close">
        </div>
    </form>

</div>
{% endblock %}
{% block scripts %}
<script>
(function(){

}());
</script>
{% endblock %}
