<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body class="preload">

        <!-- for object video embed http://stackoverflow.com/questions/6671232/youtube-api-stop-video -->

<iframe id="background-vid" type="text/html"
  src="https://www.youtube.com/embed/u3WSG6SDE1w?&showinfo=0&enablejsapi=1&origin=http://localhost:8000"
  frameborder="0"></iframe>

        <div id="main" class="container">
            <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>

            {% block content %}
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            //  https://css-tricks.com/transitions-only-after-page-load/  for delaying transitions after page load
            $(window).load(function() {
                $("body").removeClass("preload");
            });
        </script>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player('background-vid', {

                videoId: 'u3WSG6SDE1w',
                playerVars: { 'autoplay': 0, 'controls': 1 },
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });


            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {

                event.target.loadPlaylist(
                  {
                        playlist: ["u3WSG6SDE1w"],
                        index:0
                  });
                event.target.setLoop({loopPlaylists:"true"});
                event.target.mute();
            event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {

            }
            function stopVideo() {
                player.stopVideo();
            }

            /*
            player.append('<param name="movie" value="https://youtube.com/embed/u3WSG6SDE1w?autoplay=1&controls=1&showinfo=0&autohide=1&loop=1enablejsapi=1&playlist=u3WSG6SDE1w">');
            player.append('<param name="allowScriptAccess" value="always">');
            player.append('<embed id="background-vid" src="https://youtube.com/embed/u3WSG6SDE1w?autoplay=1&controls&volume=1&showinfo=0&autohide=1&loop=1&enablejsapi=1&playlist=u3WSG6SDE1w" >');
            */
    </script>



        {% block scripts %}
        {% endblock %}
    </body>
</html>
